/* Global Styles */
body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  /* Light green background for the page */
  color: #333333;
  font-family: Arial, sans-serif;
  height: 100%;
  overflow: hidden;
}

#container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#filter {
  width: 30%;
}

/* Form Styling */
form {
  background-color: #ffffff;
  /* White background for the form */
  padding: 20px;
  max-width: 100%;
  max-height: 710px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  gap: 8px;
}

form label {
  display: block;
  margin-bottom: 2px;
  font-weight: 500;
}

form input,
form select,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#rating-stars {
  display: flex;
  cursor: pointer;
  margin-bottom: 14px;
}

#rating-stars i {
  font-size: 24px;
  color: #ddd;
  /* Default star color */
  margin-right: 5px;
  transition: color 0.3s ease;
}

/* Change color only on hover */
#rating-stars i:hover {
  color: #f39c12;
  /* Highlight on hover */
}

/* Change color for selected stars on click */
#rating-stars i.selected {
  color: #f39c12;
  /* Highlight selected stars */
}

/* Button */
button {
  background-color: #007bff;
  color: #ffffff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  /* Full width button */
}

button:hover {
  background-color: #0056b3;
}

/* Table Styling */
table {
  width: 96%;
  /* Reduce table width for smaller size */
  border-collapse: collapse;
  margin: 0px auto;
  font-size: 16px;
  /* Smaller font size for the table */
  text-align: left;
  background-color: #ffffff;
  /* White background for the table */
  border-radius: 8px;
}

th {
  position: sticky;
  top: 0px;
  z-index: 1;
}

th,
td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: start;
}

table thead th {
  background-color: #007bff;
  color: #ffffff;
  border: 1px solid #84aed6;
  padding: 8px;
  font-size: 16px;
  font-weight: 400;
}

table tbody td {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 14px;
}

table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tbody tr:hover {
  background-color: #e6f7ff;
}

/* Page Centering */
#recommendation-form {
  display: flex;
  flex-direction: column;
}

#output {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 65%;
  max-height: 710px;
  overflow-y: auto;
}

#recommendations-container {
  margin-top: 16px;
  background-color: #ffffff;
  border-radius: 8px;
  max-height: 710px;
  overflow-y: auto;
}